{erl_opts, [warnings_as_errors,
            warn_export_all,
            warn_unused_import,
            warn_untyped_record,
            {parse_transform, lager_transform}]}.

{xref_checks, [fail_on_warning, undefined_function_calls]}.

{validate_app_modules, true}.

{deps,
  [
   {lager, ".*", {git, "git://github.com/basho/lager", {tag, "2.0.0"}}},
   {meck,
    ".*", {git, "git://github.com/eproxus/meck.git", {branch, "master"}}}
  ]}.
